# MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=database_offloading
MONGODB_DB=offload_poc

# MySQL (Docker local)
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=poc_user
MYSQL_PASSWORD=poc_pass
MYSQL_DATABASE=offload_poc

# Kafka (Docker local)
KAFKA_BROKERS=localhost:9092

# API
API_PORT=3000
API_BASE_URL=http://localhost:3000
